<section class="grid grid-cols-2 h-screen w-full">
    <div>
        a
    </div>
    <div class="w-[60%] flex flex-col gap-8">
        <h1 class="font-roboto_condensed text-5xl text-innovify_blue tracking-wide leading-tight">Collaborate for</h2>
        <h1 class="font-oswald text-6xl">Success</h2>
        <p class="font-roboto_condensed text-2xl text-innovify_grey tracking-wide leading-normal">We are a specialist software engineering agency, providing the best in new product development and digital innovation. Through close collaboration, we’ve built a wide range of award-winning digital products for Start-ups, SMBs, and Enterprises across multiple industries using the latest technologies like Artificial Intelligence, Machine Learning, Data Engineering, Blockchain, IoT, and more.</p>
        <p>View our Clients</p>
    </div>
</section>