---
import Container from "../../layouts/Container.astro";
---
<section class="bg-white">
    <Container>
        <section class="py-20">
            <div class="flex justify-start">
                <h1 class="font-oswald text-6xl relative px-2 after:-z-10 after:-bottom-2 after:left-0 w-fit after:absolute after:w-full after:h-6 after:bg-black after:bg-gradient-to-r from-[#c8d6e0] to-[#fadbcf]">FAQ</h2>
            </div>
            <section>
                <div class=" p-8">
                    <div class="max-w-2xl mx-auto">
                        <!-- FAQ Question 1 -->
                        <div class="mb-2">
                            <button class="w-full text-left px-4 py-3 text-gray-900 bg-white rounded-lg shadow-md">
                                <div class="flex justify-between items-center">
                                    <span>How can Innovify help with custom enterprise software development?</span>
                                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                        <!-- Icon when question is closed (Plus sign) -->
                                        <!-- When the question is open, you would use the 'minus' icon and rotate the 'plus' icon by 45 degrees to turn it into a 'minus' -->
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                                    </svg>
                                </div>
                            </button>
                            <div class="mt-2 p-4 bg-white rounded-lg shadow-md">
                                <p>Innovify is an enterprise software development company that offers custom enterprise software development services. We leverage our expertise in enterprise software design and enterprise web application development to create tailored solutions that address your unique business needs.</p>
                            </div>
                        </div>

                        <!-- Repeat the structure above for each FAQ question -->
                        <!-- ... -->
                    </div>
                </div>
            </section>
        </section>
    </Container>
</section>
